body{
    background-color:  rgb(27, 27, 27);
}
.chat-header-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(15, 15, 15);
}

.chat-header--back{
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.chat-header--bacl--arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    fill:#5eacff;
    
}

.chat-info--photo--chat{
    position: absolute;
    top:50%;
    margin-left: 55px;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
}

.header-username {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: 50px;
}

.chat-container {
    display: flex;
    flex-direction: column-reverse;
    align-items:baseline;
    position: absolute;
    overflow-y: auto;
    bottom: 38px;
    height: 88%;
    width: 100%;
    background-color: rgb(27, 27, 27);
}

.chat-container--message--recieved{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background: linear-gradient(to bottom right, #00dffd98, #1100ff97);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 95%;
    min-height: auto;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

.chat-container--message{
    position: relative;
    display: flex;
    align-items: center;
    transform: translate(-100%, 0);
    left: 98%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background: linear-gradient(to bottom right, #ff2cdf90, #0015ffa3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 95%;
    min-height: auto;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

.type-message {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    bottom: 0;
    width: 100%;
    height: 34px;
    background-color: rgb(15, 15, 15);
}

.type-message-editor {
    border: none;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    height: 75%;
    margin-left: 7px;
    background-color: rgb(90, 90, 90);
    color: white;
}

.type-message-editor:focus {
    outline-color: #0015ffa3;
}

.type-message--button {
    border: none;
    background-color: #0015ffa3;
    color: white;
    border-radius: 25px;
    width: 15%;
    height: 75%;
    margin-right: 7px;
}