.background-login{
    background-color: #7F7471;
    width: 100%;
    height: 100%;
}

h1{
    margin-bottom: 15px;
    font-family: 'REM';
    font-weight: 700;
    font-size: 2rem;
    color: rgb(14, 14, 72);
}

.form-login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

.form-login--email{
    border: 1px gray solid;
    border-radius: 5px;
    width: 70%;
    height: 25px;
    text-align: center;
    margin-bottom: 5px;
}

.form-login--password{
    border: 1px grey solid;
    border-radius: 5px;
    width: 70%;
    height: 25px;
    text-align: center;
    margin-bottom: 5px;
}

.form-login--button{
    border: none;
    width: 50%;
    height: 25px;
    background-color: rgb(14, 14, 72);
    color: white;
    border-radius: 5px;
}